@font-face {
  font-family: Inter-Semibold;
  src: url(../fonts/Inter_24pt-SemiBold.ttf);
  width: 600px;
}
@font-face {
  font-family: Inter-Extrobold;
  src: url(../fonts/Inter_28pt-ExtraBold.ttf);
  width: 800px;
}
@font-face {
  font-family: Inter-Light;
  src: url(../fonts/Inter_28pt-Light.ttf);
  width: 800px;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
  width: 400px;
}
@font-face {
  font-family: Montserrat-Semibold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  width: 600px;
}
